* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Open Sans";
    scrollbar-width: none;
}

:root {
    --Obsidian-Black: #000;
    --Black-Tie: #141414;
    --Shadow-Grey: #1b1b1b;
    --Snowflake-White: #fff;
    --Soft-Chamois: #f3f3f3;
    --Platinum-Mist: #e1e1e1;
    --Grey: #454545;
    --Sunset: #fa4616;
}

main {
    width: 100%;
    height: 100dvh;
}

iframe {
    padding: 1rem;
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100dvh;
        width: 100%;
    }
    main {
        /* height: 100dvh; */
        width: 100%;
        height: 50dvh;
    }

    iframe {
        padding: 0rem;
    }
}
